# chapter 2

In [1]:
>>> xx = 2
>>> xx = xx + 2
>>> print(xx)

>>> yy = 440 * 12
>>> print(yy)

>>> zz = yy / 1000
>>> print(zz)

4
5280
5.28

In [2]:
>>> ddd = 1 + 4
>>> print(ddd)

>>> eee = 'hello ' + 'there'
>>> print(eee)

5
hello there

In [10]:
>>> print(float(99) + 100)
>>>

199.0

In [12]:
>>> i = 42
>>> type(i)

>>> f = float(i)
>>> print(f)

42.0

In [13]:
>>> print(10 / 2)
>>> print(9 / 2)
>>> print(99 / 100)
>>> print(10.0 / 2.0)
>>> print(99.0 / 100.0)

5.0
4.5
0.99
5.0
0.99

In [14]:
inp = input('Europe floor?')
usf = int(inp) + 1
print('US floor', usf)

Europe floor?0
US floor 1

# #chapter 3

In [17]:
x = 42
if x > 1 :
    print('More than one')
    if x < 100 : 
        print('Less than 100')
print('All done')

More than one
Less than 100
All done

In [19]:
x = 4
if x > 2 :
    print('Bigger')

else :
    print('Smaller')

print('All done')

Bigger
All done

In [20]:
if x < 2 :
    print('small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Medium
All done

In [22]:
x = 1 
if x < 2 :
    print('small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

small
All done

In [23]:
x=50
if x < 2 :
    print('Below 2')
elif x >= 2 : 
    print('Two or more')
else :
    print('Something else')

Two or more

In [24]:
astr = 'Hello Bob'
try:
    istr = int(astr)
except:
    istr = -1
print('First', istr)

astr = '123'
try:
    istr = int(astr)
except:
    istr = -1
print('Second', istr)

First -1
Second 123

In [25]:
astr = 'Bob'
try:
    print('Hello') 
    istr = int(astr)
    print('There') 
except:
    istr = -1
print('Done', istr)

Hello
Done -1

### chapter 4

In [26]:
>>> big = max('Hello world')
>>> print(big)

>>> tiny = min('Hello world')
>>> print(tiny)

>>>

w

In [31]:
>>> print(float(99) / 100)
>>>

0.99

In [36]:
x = 5
print('Hello')
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print('I sleep all night and I work all day.')

print('Yo')
x = x + 2
print(x)

Hello
Yo
7

In [37]:
def addtwo(a, b):
    added = a + b
    return added

x = addtwo(3, 5)
print(x)

8

# chapter 5

In [38]:
n = 5
while n > 0 :
    print(n)
    n = n – 1
print('Blastoff!')
print(n)

SyntaxError: invalid character '–' (U+2013) (2780503644.py, line 4)

In [39]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print(line)
print('Done!')

> hello
hello
> finished
finished
> done
Done!

In [40]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [41]:
print('Before')
for thing in [9, 41, 12, 3, 74, 15] :
    print(thing)
print('After')

Before
9
41
12
3
74
15
After

In [42]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [43]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [44]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [45]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

In [46]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] : 
    if value == 3 :
        found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [47]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num < smallest_so_far :
        smallest_so_far = the_num
    print(smallest_so_far, the_num)
    
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [48]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3

# chapter 6

In [54]:
>>> fruit = 'banana'
>>> print(len(fruit))

6

In [56]:
>>> fruit = 'apple'
>>> x = len(fruit)
>>> print(x)

5

In [57]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [58]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

b
a
n
a
n
a

In [59]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
        count = count + 1
print(count)

3

In [60]:
>>> s = 'Monty Python'
>>> print(s[0:4])
>>> print(s[6:7])
>>> print(s[6:20])

Mont
P
Python

In [61]:
>>> s = 'Monty Python'
>>> print(s[:2])
>>> print(s[8:])
>>> print(s[:])

Mo
thon
Monty Python

In [62]:
>>> a = 'Hello'
>>> b = a + 'There'
>>> print(b)
>>> c = a + ' ' + 'There'
>>> print(c)
>>>

HelloThere
Hello There

In [67]:
>>> fruit = 'banana'
>>> if 'a' in fruit :
...     print('Found it!')
...
>>>

Found it!

In [68]:
>>> greet = 'Hello Bob'
>>> zap = greet.lower()
>>> print(zap)

>>> print(greet)

>>> print('Hi There'.lower())
>>>

hello bob
Hello Bob
hi there

In [69]:
>>> fruit = 'banana'
>>> pos = fruit.find('na')
>>> print(pos)

2

In [70]:
>>> aa = fruit.find('z')
>>> print(aa)

-1

In [71]:
>>> greet = 'Hello Bob'
>>> nstr = greet.replace('Bob','Jane')
>>> print(nstr)

>>> nstr = greet.replace('o','X')
>>> print(nstr)
>>>

Hello Jane
HellX BXb

In [75]:
>>> data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
>>> atpos = data.find('@')
>>> print(atpos)

>>> sppos = data.find(' ',atpos)
>>> print(sppos)

>>> host = data[atpos+1 : sppos]
>>> print(host)

21
31
uct.ac.za